
  server {
    listen       80 default_server;
    server_name  _;
    access_log  {{ nginx_base_logs_dir }}/nginx/kibana.access.log  main;
    error_log   {{ nginx_base_logs_dir }}/nginx/kibana.error.log  info;
    return 301 https://$host$request_uri;
  }

  upstream es_cluster {
{% for member in kibana_elasticsearch_cluster_members %}    
    server {{ member }} {% if loop.first %} weight={{ loop.index }} fail_timeout=1s max_fails=1; {% else %} weight={{ loop.index }} backup; {% endif %} 
{% endfor %}
  }

  server {
    listen       443;
    server_name  _;
    access_log  {{ nginx_base_logs_dir }}/nginx/kibana.secure.access.log  main;
    error_log   {{ nginx_base_logs_dir }}/nginx/kibana.secure.error.log  info;
    ssl                  on;
    ssl_certificate      ssl/kibana.crt;
    ssl_certificate_key  ssl/kibana.key;
    ssl_session_timeout  5m;
    ssl_protocols  SSLv2 SSLv3 TLSv1;
    ssl_ciphers  ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP;
    ssl_prefer_server_ciphers   on;

    {% if kibana_healthcheck_url is string %}
    location ~ ^{{ kibana_healthcheck_url }}$ {
      auth_basic off;
      root   {{ nginx_base_install_dir }}/nginx/html;
      rewrite ^{{ kibana_healthcheck_url }}$ {{ kibana_healthcheck_file }} break;
    }
    {% endif %}


    auth_basic "Restricted";
    auth_basic_user_file {{ nginx_base_install_dir }}/nginx/conf/servers/kibana.htpasswd;

    rewrite ^/es/(.*)$  /$1 break;

    location ~ ^/_aliases$ {
      proxy_pass http://es_cluster;
      proxy_read_timeout 90;
    }
    location ~ ^/.*/_aliases$ {
      proxy_pass http://es_cluster;
      proxy_read_timeout 90;
    }
    location ~ ^/_nodes$ {
      proxy_pass http://es_cluster;
      proxy_read_timeout 90;
    }
    location ~ ^/.*/_search$ {
      proxy_pass http://es_cluster;
      proxy_read_timeout 90;
    }
    location ~ ^/.*/_mapping$ {
      proxy_pass http://es_cluster;
      proxy_read_timeout 90;
    }
 
    # Password protected end points
    location ~ ^/kibana-int/dashboard/.*$ {
      proxy_pass http://es_cluster;
      proxy_read_timeout 90;
      limit_except GET {
        proxy_pass http://es_cluster;
        auth_basic "Restricted";
        auth_basic_user_file {{ nginx_base_install_dir }}/nginx/conf/servers/kibana-write.htpasswd;
      }
    }
    location ~ ^/kibana-int/temp.*$ {
      proxy_pass http://es_cluster;
      proxy_read_timeout 90;
      limit_except GET {
        proxy_pass http://es_cluster;
        auth_basic "Restricted";
        auth_basic_user_file {{ nginx_base_install_dir}}/nginx/conf/servers/kibana-write.htpasswd;
      }
    }
    location / {
        root   {{ kibana_base_install_dir }}/kibana-{{ kibana_version }};
        index  index.html;
    }
}
