
  server {
    listen       80 default_server;
    server_name  _;
    access_log  {{ nginx_base_logs_dir }}/nginx/kibana.access.log  main;
    error_log   {{ nginx_base_logs_dir }}/nginx/kibana.error.log  info;
    return 301 https://$host$request_uri;
  }

  upstream es_cluster {
    server example.com:9200 weight=1 fail_timeout=1;
    server example.com:9200 weight=1 fail_timeout=1;
  }

  server {
    listen       443;
    server_name  _;
    access_log  {{ nginx_base_logs_dir }}/nginx/kibana.secure.access.log  main;
    error_log   {{ nginx_base_logs_dir }}/nginx/kibana.secure.error.log  info;
    ssl                  on;
    ssl_certificate      ssl/example.com.crt;
    ssl_certificate_key  ssl/example.com.key;
    ssl_session_timeout  5m;
    ssl_protocols  SSLv2 SSLv3 TLSv1;
    ssl_ciphers  ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP;
    ssl_prefer_server_ciphers   on;

    auth_basic "Restricted";
    auth_basic_user_file {{ nginx_base_install_dir }}/nginx/conf/servers/kibana.htpasswd;

    rewrite ^/es/(.*)$  /$1 break;

    location ~ ^/_aliases$ {
      proxy_pass http://127.0.0.1:9200;
      proxy_read_timeout 90;
    }
    location ~ ^/.*/_aliases$ {
      proxy_pass http://127.0.0.1:9200;
      proxy_read_timeout 90;
    }
    location ~ ^/_nodes$ {
      proxy_pass http://127.0.0.1:9200;
      proxy_read_timeout 90;
    }
    location ~ ^/.*/_search$ {
      proxy_pass http://127.0.0.1:9200;
      proxy_read_timeout 90;
    }
    location ~ ^/.*/_mapping$ {
      proxy_pass http://127.0.0.1:9200;
      proxy_read_timeout 90;
    }
 
    # Password protected end points
    location ~ ^/kibana-int/dashboard/.*$ {
      proxy_pass http://127.0.0.1:9200;
      proxy_read_timeout 90;
      limit_except GET {
        proxy_pass http://127.0.0.1:9200;
        auth_basic "Restricted";
        auth_basic_user_file {{ nginx_base_install_dir }}/nginx/conf/servers/kibana-write.htpasswd;
      }
    }
    location ~ ^/kibana-int/temp.*$ {
      proxy_pass http://127.0.0.1:9200;
      proxy_read_timeout 90;
      limit_except GET {
        proxy_pass http://127.0.0.1:9200;
        auth_basic "Restricted";
        auth_basic_user_file {{ nginx_base_install_dir}}/nginx/conf/servers/kibana-write.htpasswd;
      }
    }
    location / {
        root   {{ kibana_base_install_dir }}/kibana-{{ kibana_version }};
        index  index.html;
    }
}
